.mr-header {
  display: flex;
  height: var(--header-bar-height);
  background-color: var(--header-background-color);
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  padding: 0 2.5rem;
  justify-content: space-between;
  align-items: center;

  .title {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    .title-text {
      font-size: 1.8rem;
      color: var(--text-color);
      cursor: default;
      span {
        color: crimson;
        transition: all 0.4s ease-in-out;
      }

      &:hover span {
        color: cornflowerblue;
      }
    }
    .desc {
      margin-top: -5px;
      font-size: 14px;
      text-align: center;
      color: rgb(0 0 0 / 30%);
    }
  }
}
