.header-btns-container {
  display: flex;
  align-items: center;
}

.file-upload {
  input[type="file"] {
    display: none;
  }

  .file-upload-label {
    background-color: cornflowerblue;
    border: 2px solid #333;

    box-shadow: 0 2px 1px rgba(235, 221, 15, 0.8);
    color: var(--btn-color);
    font-weight: 700;
    border-radius: 20px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
}

.editor-switch {
  margin-left: 25px;
  font-weight: 700;
  border: 2px solid #333;
  box-shadow: 0 2px 1px rgba(235, 221, 15, 0.8);

  .ant-switch-handle {
    top: 5px;
    // width: 20px;
    // height: 20px;
    border-radius: 50%;
  }

  .ant-switch-inner {
    position: relative;
    align-items: center;
    top: 2px;

    .ant-switch-inner-checked {
      color: var(--btn-color);
      font-size: 16px;
    }
    .ant-switch-inner-unchecked {
      color: var(--btn-color);
      font-size: 16px;
    }
  }
}
